@font-face {
  font-family: "iconfont"; /* Project id 3362507 */
  src: url('iconfont.woff2?t=1651034780640') format('woff2'),
       url('iconfont.woff?t=1651034780640') format('woff'),
       url('iconfont.ttf?t=1651034780640') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-logo-github:before {
  content: "\e601";
}

